project_root

octave: true

# style guide (https://florianschanda.github.io/miss_hit/style_checker.html)
line_length: 100

# snake_case
regex_function_name: "[a-z]+(_[a-z]*)*"
regex_script_name: "[a-z]+(_[a-z]*)*"
regex_parameter_name: "[a-z]+(_[a-z]*)*"

exclude_dir: "source"

copyright_entity: "Remi Gau"


tab_width: 2

# metrics limit for the code quality (https://florianschanda.github.io/miss_hit/metrics.html)
metric "cnest": limit 4
metric "file_length": limit 400
metric "cyc": limit 12
metric "parameters": limit 7
